body {
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    color: white;
    font-weight: bold;
    text-align: center;
}

.links {
    text-align: center;
}